<ul class="contact-list">
  {{ range .Site.Params.contact.list }}
  <li class="contact-list__item">
    <i class="{{ .icon }}" data-icon aria-hidden="true"></i>
    {{ if .url }}
      <a href="{{ .url | safeURL }}"
         {{ if not (or (hasPrefix .url "mailto:") (hasPrefix .url "tel:")) }}target="_blank" rel="noopener"{{ end }}
      >{{ .text }}</a>
    {{ else }}
      <span>{{ .text }}</span>
    {{ end }}
  </li>
  {{ end }}
  <li class="contact-list__item">
    <i class="fas fa-map-marker-alt" data-icon aria-hidden="true"></i>
    <span>{{ .Site.Params.contact.location }}</span>
  </li>
</ul>
